<p id="notice"><%= notice %></p>


<% if session[:current_user_id] == nil %>
<%= render 'layouts/error' %>
<% else %>


<p>
  <strong>Bidder:</strong>
  <%= @bid.bidder %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bid.amount %>
</p>

<p>
  <strong>Car:</strong>
  <%= @bid.car %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |

<% end %>	

<%= link_to 'Back', bids_path %>


