<p id="notice"><%= notice %></p>

<p>
  <strong>Bidder:</strong>
  <%= @bid.bidder %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bid.amount %>
</p>

<p>
  <strong>Car:</strong>
  <%= @bid.car %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
