<h2>User profil page</h2>
<p id="notice"><%= notice %></p>

<% if session[:current_user_id] == nil %>
<%= render 'layouts/error' %>
<% else %>




<h2>
  <strong>Name:</strong>
  <%= @user.name %>
</h2>

<h2>
  <strong>Email:</strong>
  <%= @user.email %>
</h2>

<h2><%= link_to 'Edit', edit_user_path(@user) %><h2>

<% end %>	
