<h1>Listing cars</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Mileage</th>
      <th>Color</th>
      <th>Startprize</th>
      <th>Buyoutprize</th>
      <th>Duration</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.title %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.mileage %></td>
        <td><%= car.color %></td>
        <td><%= car.startprize %></td>
        <td><%= car.buyoutprize %></td>
        <td><%= car.duration %></td>
        <td><%= car.description %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
