<h1>New car</h1>

<<<<<<< HEAD
<hr />

<%= render 'form' %>

<%= link_to 'Back', cars_path %>
<%= link_to 'Home', root_path %>

=======
<%= render 'form' %>

<%= link_to 'Back', cars_path %>
>>>>>>> 1863f9aa536fe5a8fe8c5d021e67d1b99b51e50a
