<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Current Bid:</strong>
  <%= @car.startprize %>
</p>

<p>
  <strong>Duration:</strong>
  <% if DateTime.now > @car.duration %>
    expired
<% else %>
    <%= @car.duration %>
<% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>



<h2>current bid:</h2>

<% if @car.bids.blank? %>
    <p>No bid yet</p>
<% else %>
    <%= render @car.bids.last %>
<% end %>

<% if DateTime.now > @car.duration %>
    <h2>Auction expired</h2>
<% else %>
    <h2>Add a bid:</h2>
    <%= form_for([@car, @car.bids.build]) do |f| %>
        <p>
          <%= f.label :bidder %><br />
          <%= f.text_field :bidder %>
        </p>
        <p>
          <%= f.label :amount %><br />
          <%= f.text_field :amount %>
        </p>
        <p>
          <%= f.submit %>
        </p>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
