<hr />
<h4>
<%= link_to 'Home', root_path %> |
<%= link_to 'See all the cars', cars_path %> |
<%= link_to 'See all the users', users_path %> |
<%= link_to 'Add a car', new_car_path %> |
<%= link_to 'Add an user', new_user_path %> |
<%= link_to 'Login', signin_path %> | 
<%= link_to 'Logout',  signout_path %> | 
</h4>



<hr />
<h6>powered by the Green Team</h6>

